In [8]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('Life Expectancy Data.csv')
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [10]:
my_df = df[['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'Measles ', 'Alcohol']]
my_df.rename(columns={'Country': 'pais', 'Year': 'ano', 'Status': 'status', 'Life expectancy ': 'expectativa_vida', 'Adult Mortality': 'mortalidade_adulto', 'Measles ': 'relato_sarampo', 'Alcohol': 'consumo_alcool'}, inplace=True)

In [12]:
import pandas as pd
import pycountry_convert as pc

def country_to_continent(country_name):
    try:
        # Converte o nome do país em código alpha-2
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        # Obtém o código do continente
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        # Converte o código do continente em nome
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except Exception as e:
        return None  # Retorna None se o país não for encontrado

# Adicionando a coluna "continente"
my_df['continente'] = my_df['pais'].apply(country_to_continent)

# Exibindo o DataFrame resultante
my_df

,pais,ano,status,expectativa_vida,mortalidade_adulto,relato_sarampo,consumo_alcool,continente
0,Afghanistan,2015,Developing,65.0,263.0,1154,0.01,Asia
1,Afghanistan,2014,Developing,59.9,271.0,492,0.01,Asia
2,Afghanistan,2013,Developing,59.9,268.0,430,0.01,Asia
3,Afghanistan,2012,Developing,59.5,272.0,2787,0.01,Asia
4,Afghanistan,2011,Developing,59.2,275.0,3013,0.01,Asia
...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,31,4.36,Africa
2934,Zimbabwe,2003,Developing,44.5,715.0,998,4.06,Africa
2935,Zimbabwe,2002,Developing,44.8,73.0,304,4.43,Africa
2936,Zimbabwe,2001,Developing,45.3,686.0,529,1.72,Africa
2937,Zimbabwe,2000,Developing,46.0,665.0,1483,1.68,Africa

In [13]:
print('Porcentagem de nulos para cada variável:','\n',(my_df.isnull().sum()/my_df.shape[0])*100)

Porcentagem de nulos para cada variável:
 pais                  0.000000
ano                   0.000000
status                0.000000
expectativa_vida      0.340368
mortalidade_adulto    0.340368
relato_sarampo        0.000000
consumo_alcool        6.603131
continente            3.812117
dtype: float64

In [15]:
## Quantidade de paises em cada ano
for i in my_df.ano.unique():
    print('Número de países em', i, ':', len(my_df[my_df['ano'] == i].pais.unique()))

## Fazer um looping do ano de 2013 com os outros anos para saber quais países estão faltando
for i in my_df.ano.unique():
    diff_2013 = my_df[my_df['ano'] == 2013][~my_df[my_df['ano'] == 2013]['pais'].isin(my_df[my_df['ano'] == i]['pais'])]
    print('Países faltando em', i, ':', diff_2013.pais.unique())

Número de países em 2015 : 183
Número de países em 2014 : 183
Número de países em 2013 : 193
Número de países em 2012 : 183
Número de países em 2011 : 183
Número de países em 2010 : 183
Número de países em 2009 : 183
Número de países em 2008 : 183
Número de países em 2007 : 183
Número de países em 2006 : 183
Número de países em 2005 : 183
Número de países em 2004 : 183
Número de países em 2003 : 183
Número de países em 2002 : 183
Número de países em 2001 : 183
Número de países em 2000 : 183
Países faltando em 2015 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2014 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2013 : []
Países faltando em 2012 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2011 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2010 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2009 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2008 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2007 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2006 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2005 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2004 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2003 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2002 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2001 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2000 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']

In [16]:
## Fazer um looping para todos os anos
anos = my_df.ano.unique()
for i in my_df.ano.unique():
    for j in anos:
        if i != j:
            all_diff = my_df[my_df['ano'] == i][~my_df[my_df['ano'] == i]['pais'].isin(my_df[my_df['ano'] == j]['pais'])]
            print('Países faltando em', j, 'em relação a', i, ':', all_diff.pais.unique())

Países faltando em 2014 em relação a 2015 : []
Países faltando em 2013 em relação a 2015 : []
Países faltando em 2012 em relação a 2015 : []
Países faltando em 2011 em relação a 2015 : []
Países faltando em 2010 em relação a 2015 : []
Países faltando em 2009 em relação a 2015 : []
Países faltando em 2008 em relação a 2015 : []
Países faltando em 2007 em relação a 2015 : []
Países faltando em 2006 em relação a 2015 : []
Países faltando em 2005 em relação a 2015 : []
Países faltando em 2004 em relação a 2015 : []
Países faltando em 2003 em relação a 2015 : []
Países faltando em 2002 em relação a 2015 : []
Países faltando em 2001 em relação a 2015 : []
Países faltando em 2000 em relação a 2015 : []
Países faltando em 2015 em relação a 2014 : []
Países faltando em 2013 em relação a 2014 : []
Países faltando em 2012 em relação a 2014 : []
Países faltando em 2011 em relação a 2014 : []
Países faltando em 2010 em relação a 2014 : []
Países faltando em 2009 em relação a 2014 : []
Países faltando em 2008 em relação a 2014 : []
Países faltando em 2007 em relação a 2014 : []
Países faltando em 2006 em relação a 2014 : []
Países faltando em 2005 em relação a 2014 : []
Países faltando em 2004 em relação a 2014 : []
Países faltando em 2003 em relação a 2014 : []
Países faltando em 2002 em relação a 2014 : []
Países faltando em 2001 em relação a 2014 : []
Países faltando em 2000 em relação a 2014 : []
Países faltando em 2015 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2014 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2012 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2011 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2010 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2009 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2008 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2007 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2006 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2005 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2004 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2003 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2002 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2001 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2000 em relação a 2013 : ['Cook Islands' 'Dominica' 'Marshall Islands' 'Monaco' 'Nauru' 'Niue'
 'Palau' 'Saint Kitts and Nevis' 'San Marino' 'Tuvalu']
Países faltando em 2015 em relação a 2012 : []
Países faltando em 2014 em relação a 2012 : []
Países faltando em 2013 em relação a 2012 : []
Países faltando em 2011 em relação a 2012 : []
Países faltando em 2010 em relação a 2012 : []
Países faltando em 2009 em relação a 2012 : []
Países faltando em 2008 em relação a 2012 : []
Países faltando em 2007 em relação a 2012 : []
Países faltando em 2006 em relação a 2012 : []
Países faltando em 2005 em relação a 2012 : []
Países faltando em 2004 em relação a 2012 : []
Países faltando em 2003 em relação a 2012 : []
Países faltando em 2002 em relação a 2012 : []
Países faltando em 2001 em relação a 2012 : []
Países faltando em 2000 em relação a 2012 : []
Países faltando em 2015 em relação a 2011 : []
Países faltando em 2014 em relação a 2011 : []
Países faltando em 2013 em relação a 2011 : []
Países faltando em 2012 em relação a 2011 : []
Países faltando em 2010 em relação a 2011 : []
Países faltando em 2009 em relação a 2011 : []
Países faltando em 2008 em relação a 2011 : []
Países faltando em 2007 em relação a 2011 : []
Países faltando em 2006 em relação a 2011 : []
Países faltando em 2005 em relação a 2011 : []
Países faltando em 2004 em relação a 2011 : []
Países faltando em 2003 em relação a 2011 : []
Países faltando em 2002 em relação a 2011 : []
Países faltando em 2001 em relação a 2011 : []
Países faltando em 2000 em relação a 2011 : []
Países faltando em 2015 em relação a 2010 : []
Países faltando em 2014 em relação a 2010 : []
Países faltando em 2013 em relação a 2010 : []
Países faltando em 2012 em relação a 2010 : []
Países faltando em 2011 em relação a 2010 : []
Países faltando em 2009 em relação a 2010 : []
Países faltando em 2008 em relação a 2010 : []
Países faltando em 2007 em relação a 2010 : []
Países faltando em 2006 em relação a 2010 : []
Países faltando em 2005 em relação a 2010 : []
Países faltando em 2004 em relação a 2010 : []
Países faltando em 2003 em relação a 2010 : []
Países faltando em 2002 em relação a 2010 : []
Países faltando em 2001 em relação a 2010 : []
Países faltando em 2000 em relação a 2010 : []
Países faltando em 2015 em relação a 2009 : []
Países faltando em 2014 em relação a 2009 : []
Países faltando em 2013 em relação a 2009 : []
Países faltando em 2012 em relação a 2009 : []
Países faltando em 2011 em relação a 2009 : []
Países faltando em 2010 em relação a 2009 : []
Países faltando em 2008 em relação a 2009 : []
Países faltando em 2007 em relação a 2009 : []
Países faltando em 2006 em relação a 2009 : []
Países faltando em 2005 em relação a 2009 : []
Países faltando em 2004 em relação a 2009 : []
Países faltando em 2003 em relação a 2009 : []
Países faltando em 2002 em relação a 2009 : []
Países faltando em 2001 em relação a 2009 : []
Países faltando em 2000 em relação a 2009 : []
Países faltando em 2015 em relação a 2008 : []
Países faltando em 2014 em relação a 2008 : []
Países faltando em 2013 em relação a 2008 : []
Países faltando em 2012 em relação a 2008 : []
Países faltando em 2011 em relação a 2008 : []
Países faltando em 2010 em relação a 2008 : []
Países faltando em 2009 em relação a 2008 : []
Países faltando em 2007 em relação a 2008 : []
Países faltando em 2006 em relação a 2008 : []
Países faltando em 2005 em relação a 2008 : []
Países faltando em 2004 em relação a 2008 : []
Países faltando em 2003 em relação a 2008 : []
Países faltando em 2002 em relação a 2008 : []
Países faltando em 2001 em relação a 2008 : []
Países faltando em 2000 em relação a 2008 : []
Países faltando em 2015 em relação a 2007 : []
Países faltando em 2014 em relação a 2007 : []
Países faltando em 2013 em relação a 2007 : []
Países faltando em 2012 em relação a 2007 : []
Países faltando em 2011 em relação a 2007 : []
Países faltando em 2010 em relação a 2007 : []
Países faltando em 2009 em relação a 2007 : []
Países faltando em 2008 em relação a 2007 : []
Países faltando em 2006 em relação a 2007 : []
Países faltando em 2005 em relação a 2007 : []
Países faltando em 2004 em relação a 2007 : []
Países faltando em 2003 em relação a 2007 : []
Países faltando em 2002 em relação a 2007 : []
Países faltando em 2001 em relação a 2007 : []
Países faltando em 2000 em relação a 2007 : []
Países faltando em 2015 em relação a 2006 : []
Países faltando em 2014 em relação a 2006 : []
Países faltando em 2013 em relação a 2006 : []
Países faltando em 2012 em relação a 2006 : []
Países faltando em 2011 em relação a 2006 : []
Países faltando em 2010 em relação a 2006 : []
Países faltando em 2009 em relação a 2006 : []
Países faltando em 2008 em relação a 2006 : []
Países faltando em 2007 em relação a 2006 : []
Países faltando em 2005 em relação a 2006 : []
Países faltando em 2004 em relação a 2006 : []
Países faltando em 2003 em relação a 2006 : []
Países faltando em 2002 em relação a 2006 : []
Países faltando em 2001 em relação a 2006 : []
Países faltando em 2000 em relação a 2006 : []
Países faltando em 2015 em relação a 2005 : []
Países faltando em 2014 em relação a 2005 : []
Países faltando em 2013 em relação a 2005 : []
Países faltando em 2012 em relação a 2005 : []
Países faltando em 2011 em relação a 2005 : []
Países faltando em 2010 em relação a 2005 : []
Países faltando em 2009 em relação a 2005 : []
Países faltando em 2008 em relação a 2005 : []
Países faltando em 2007 em relação a 2005 : []
Países faltando em 2006 em relação a 2005 : []
Países faltando em 2004 em relação a 2005 : []
Países faltando em 2003 em relação a 2005 : []
Países faltando em 2002 em relação a 2005 : []
Países faltando em 2001 em relação a 2005 : []
Países faltando em 2000 em relação a 2005 : []
Países faltando em 2015 em relação a 2004 : []
Países faltando em 2014 em relação a 2004 : []
Países faltando em 2013 em relação a 2004 : []
Países faltando em 2012 em relação a 2004 : []
Países faltando em 2011 em relação a 2004 : []
Países faltando em 2010 em relação a 2004 : []
Países faltando em 2009 em relação a 2004 : []
Países faltando em 2008 em relação a 2004 : []
Países faltando em 2007 em relação a 2004 : []
Países faltando em 2006 em relação a 2004 : []
Países faltando em 2005 em relação a 2004 : []
Países faltando em 2003 em relação a 2004 : []
Países faltando em 2002 em relação a 2004 : []
Países faltando em 2001 em relação a 2004 : []
Países faltando em 2000 em relação a 2004 : []
Países faltando em 2015 em relação a 2003 : []
Países faltando em 2014 em relação a 2003 : []
Países faltando em 2013 em relação a 2003 : []
Países faltando em 2012 em relação a 2003 : []
Países faltando em 2011 em relação a 2003 : []
Países faltando em 2010 em relação a 2003 : []
Países faltando em 2009 em relação a 2003 : []
Países faltando em 2008 em relação a 2003 : []
Países faltando em 2007 em relação a 2003 : []
Países faltando em 2006 em relação a 2003 : []
Países faltando em 2005 em relação a 2003 : []
Países faltando em 2004 em relação a 2003 : []
Países faltando em 2002 em relação a 2003 : []
Países faltando em 2001 em relação a 2003 : []
Países faltando em 2000 em relação a 2003 : []
Países faltando em 2015 em relação a 2002 : []
Países faltando em 2014 em relação a 2002 : []
Países faltando em 2013 em relação a 2002 : []
Países faltando em 2012 em relação a 2002 : []
Países faltando em 2011 em relação a 2002 : []
Países faltando em 2010 em relação a 2002 : []
Países faltando em 2009 em relação a 2002 : []
Países faltando em 2008 em relação a 2002 : []
Países faltando em 2007 em relação a 2002 : []
Países faltando em 2006 em relação a 2002 : []
Países faltando em 2005 em relação a 2002 : []
Países faltando em 2004 em relação a 2002 : []
Países faltando em 2003 em relação a 2002 : []
Países faltando em 2001 em relação a 2002 : []
Países faltando em 2000 em relação a 2002 : []
Países faltando em 2015 em relação a 2001 : []
Países faltando em 2014 em relação a 2001 : []
Países faltando em 2013 em relação a 2001 : []
Países faltando em 2012 em relação a 2001 : []
Países faltando em 2011 em relação a 2001 : []
Países faltando em 2010 em relação a 2001 : []
Países faltando em 2009 em relação a 2001 : []
Países faltando em 2008 em relação a 2001 : []
Países faltando em 2007 em relação a 2001 : []
Países faltando em 2006 em relação a 2001 : []
Países faltando em 2005 em relação a 2001 : []
Países faltando em 2004 em relação a 2001 : []
Países faltando em 2003 em relação a 2001 : []
Países faltando em 2002 em relação a 2001 : []
Países faltando em 2000 em relação a 2001 : []
Países faltando em 2015 em relação a 2000 : []
Países faltando em 2014 em relação a 2000 : []
Países faltando em 2013 em relação a 2000 : []
Países faltando em 2012 em relação a 2000 : []
Países faltando em 2011 em relação a 2000 : []
Países faltando em 2010 em relação a 2000 : []
Países faltando em 2009 em relação a 2000 : []
Países faltando em 2008 em relação a 2000 : []
Países faltando em 2007 em relação a 2000 : []
Países faltando em 2006 em relação a 2000 : []
Países faltando em 2005 em relação a 2000 : []
Países faltando em 2004 em relação a 2000 : []
Países faltando em 2003 em relação a 2000 : []
Países faltando em 2002 em relação a 2000 : []
Países faltando em 2001 em relação a 2000 : []

In [18]:
## Analisando as osbservações nulas para os 10 países que 'sobraram' em 2013
(my_df[(my_df['ano'] == 2013) & (my_df['pais'].isin(diff_2013.pais.unique()))].isnull().sum()/my_df[(my_df['ano'] == 2013) & (my_df['pais'].isin(diff_2013.pais.unique()))].shape[0])*100

pais                    0.0
ano                     0.0
status                  0.0
expectativa_vida      100.0
mortalidade_adulto    100.0
relato_sarampo          0.0
consumo_alcool         10.0
continente              0.0
dtype: float64

In [20]:
## Como a quantidade de nulos é muito alta para o nosso target para esses únicos 10 países em 2013, vamos retirar esses países do dataset
df_filtrado = my_df[~my_df['pais'].isin(diff_2013.pais.unique())]

## Verificando a porcentagem de nulos após a retirada dos 10 países
(df_filtrado.isna().sum()/df_filtrado.shape[0])*100

pais                  0.000000
ano                   0.000000
status                0.000000
expectativa_vida      0.000000
mortalidade_adulto    0.000000
relato_sarampo        0.000000
consumo_alcool        6.591530
continente            3.825137
dtype: float64

In [23]:
df_filtrado[df_filtrado['consumo_alcool'].isnull()]

,pais,ano,status,expectativa_vida,mortalidade_adulto,relato_sarampo,consumo_alcool,continente
32,Algeria,2015,Developing,75.6,19.0,63,NaN,Africa
48,Angola,2015,Developing,52.4,335.0,118,NaN,Africa
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,North America
80,Argentina,2015,Developing,76.3,116.0,0,NaN,South America
96,Armenia,2015,Developing,74.8,118.0,33,NaN,Asia
...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),2015,Developing,74.1,157.0,0,NaN,None
2874,Viet Nam,2015,Developing,76.0,127.0,256,NaN,Asia
2890,Yemen,2015,Developing,65.7,224.0,468,NaN,Asia
2906,Zambia,2015,Developing,61.8,33.0,9,NaN,Africa
2922,Zimbabwe,2015,Developing,67.0,336.0,0,NaN,Africa