In [1]:
import numpy as np

arr_paes = np.array(["frances","italiano","sirio","frances","sirio"])
arr_pesos = np.array([[3.0,2.8,10,3.0,3.23,3.0,2.8,3.0],   [5.0,5.3,4.95,4.9,5.23,5.,5.,6.],   [3.0,2.8,3.1,3.0,3.23,3.,3.,3.],   [6.0,6.8,6.1,6.0,6.23,5.8,5.9,6.],   [3.0,2.8,3.1,3.0,3.23,3.,3.1,3.]])

In [28]:
import pandas as pd

# Dicionário
dic_paes = {
    'frances': [3.0, 2.8, 10, 3.0, 3.23, 3.0, 2.8, 3.0],
    'italiano': [5.0, 5.3, 4.95, 4.9, 5.23, 5., 5., 6.],
    'sirio': [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3., 3.],
    'frances2': [6.0, 6.8, 6.1, 6.0, 6.23, 5.8, 5.9, 6.],
    'sirio2': [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3.1, 3.]
}

# Lista de tuplas
lista = [
    ('frances', [3.0, 2.8, 10, 3.0, 3.23, 3.0, 2.8, 3.0]),
    ('italiano', [5.0, 5.3, 4.95, 4.9, 5.23, 5., 5., 6.]),
    ('sirio', [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3., 3.]),
    ('frances2', [6.0, 6.8, 6.1, 6.0, 6.23, 5.8, 5.9, 6.]),
    ('sirio2', [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3.1, 3.])
]

# df do dicionário
df_dic = pd.DataFrame(dic_paes)

# df da tupla
df_tp = pd.DataFrame({item[0]: item[1] for item in lista})

In [43]:
df_dic

   frances  italiano  sirio  frances2  sirio2
0     3.00      5.00   3.00      6.00    3.00
1     2.80      5.30   2.80      6.80    2.80
2    10.00      4.95   3.10      6.10    3.10
3     3.00      4.90   3.00      6.00    3.00
4     3.23      5.23   3.23      6.23    3.23
5     3.00      5.00   3.00      5.80    3.00
6     2.80      5.00   3.00      5.90    3.10
7     3.00      6.00   3.00      6.00    3.00

In [53]:
num_linhas = df_dic.shape[0]
for i in range(num_linhas):
    print(f'Soma dia {i}: {df_dic.iloc[i].sum()}')

Soma dia 0: 20.0
Soma dia 1: 20.5
Soma dia 2: 27.25
Soma dia 3: 19.9
Soma dia 4: 21.150000000000002
Soma dia 5: 19.8
Soma dia 6: 19.800000000000004
Soma dia 7: 21.0

In [54]:
for coluna in df_dic.columns:
    print(f"Soma {coluna}: {df_dic[coluna].sum()}")

Soma frances: 30.830000000000002
Soma italiano: 41.38
Soma sirio: 24.13
Soma frances2: 48.83
Soma sirio2: 24.229999999999997

In [55]:
for i in range(num_linhas):
    print(f'Média dia {i}: {df_dic.iloc[i].mean()}')

Média dia 0: 4.0
Média dia 1: 4.1
Média dia 2: 5.45
Média dia 3: 3.9799999999999995
Média dia 4: 4.23
Média dia 5: 3.96
Média dia 6: 3.960000000000001
Média dia 7: 4.2

In [56]:
for coluna in df_dic.columns:
    print(f"Média {coluna}: {df_dic[coluna].mean()}")

Média frances: 3.8537500000000002
Média italiano: 5.1725
Média sirio: 3.01625
Média frances2: 6.10375
Média sirio2: 3.0287499999999996

In [62]:
# url = 'https://alexandrechecoli.github.io/2-mindados/Dataset'
# dados = pd.read_csv(url)