___
## Exercício 1
___

In [1]:
import numpy as np

arr_paes = np.array(["frances","italiano","sirio","frances","sirio"])
arr_pesos = np.array([[3.0,2.8,10,3.0,3.23,3.0,2.8,3.0],   [5.0,5.3,4.95,4.9,5.23,5.,5.,6.],   [3.0,2.8,3.1,3.0,3.23,3.,3.,3.],   [6.0,6.8,6.1,6.0,6.23,5.8,5.9,6.],   [3.0,2.8,3.1,3.0,3.23,3.,3.1,3.]])

In [28]:
import pandas as pd

# Dicionário
dic_paes = {
    'frances': [3.0, 2.8, 10, 3.0, 3.23, 3.0, 2.8, 3.0],
    'italiano': [5.0, 5.3, 4.95, 4.9, 5.23, 5., 5., 6.],
    'sirio': [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3., 3.],
    'frances2': [6.0, 6.8, 6.1, 6.0, 6.23, 5.8, 5.9, 6.],
    'sirio2': [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3.1, 3.]
}

# Lista de tuplas
lista = [
    ('frances', [3.0, 2.8, 10, 3.0, 3.23, 3.0, 2.8, 3.0]),
    ('italiano', [5.0, 5.3, 4.95, 4.9, 5.23, 5., 5., 6.]),
    ('sirio', [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3., 3.]),
    ('frances2', [6.0, 6.8, 6.1, 6.0, 6.23, 5.8, 5.9, 6.]),
    ('sirio2', [3.0, 2.8, 3.1, 3.0, 3.23, 3., 3.1, 3.])
]

# df do dicionário
df_dic = pd.DataFrame(dic_paes)

# df da tupla
df_tp = pd.DataFrame({item[0]: item[1] for item in lista})

In [43]:
df_dic

   frances  italiano  sirio  frances2  sirio2
0     3.00      5.00   3.00      6.00    3.00
1     2.80      5.30   2.80      6.80    2.80
2    10.00      4.95   3.10      6.10    3.10
3     3.00      4.90   3.00      6.00    3.00
4     3.23      5.23   3.23      6.23    3.23
5     3.00      5.00   3.00      5.80    3.00
6     2.80      5.00   3.00      5.90    3.10
7     3.00      6.00   3.00      6.00    3.00

In [53]:
num_linhas = df_dic.shape[0]
for i in range(num_linhas):
    print(f'Soma dia {i}: {df_dic.iloc[i].sum()}')

Soma dia 0: 20.0
Soma dia 1: 20.5
Soma dia 2: 27.25
Soma dia 3: 19.9
Soma dia 4: 21.150000000000002
Soma dia 5: 19.8
Soma dia 6: 19.800000000000004
Soma dia 7: 21.0

In [54]:
for coluna in df_dic.columns:
    print(f"Soma {coluna}: {df_dic[coluna].sum()}")

Soma frances: 30.830000000000002
Soma italiano: 41.38
Soma sirio: 24.13
Soma frances2: 48.83
Soma sirio2: 24.229999999999997

In [55]:
for i in range(num_linhas):
    print(f'Média dia {i}: {df_dic.iloc[i].mean()}')

Média dia 0: 4.0
Média dia 1: 4.1
Média dia 2: 5.45
Média dia 3: 3.9799999999999995
Média dia 4: 4.23
Média dia 5: 3.96
Média dia 6: 3.960000000000001
Média dia 7: 4.2

In [56]:
for coluna in df_dic.columns:
    print(f"Média {coluna}: {df_dic[coluna].mean()}")

Média frances: 3.8537500000000002
Média italiano: 5.1725
Média sirio: 3.01625
Média frances2: 6.10375
Média sirio2: 3.0287499999999996

___
## Exercício 2
___

In [7]:
import pandas as pd
df1 = pd.read_csv('../extracted_rar/Datasets/clientes_shopping.csv')
df1

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [8]:
df1_drop = df1.drop(columns = 'Genre')
df1_drop

     CustomerID  Age  Annual Income (k$)  Spending Score (1-100)
0             1   19                  15                      39
1             2   21                  15                      81
2             3   20                  16                       6
3             4   23                  16                      77
4             5   31                  17                      40
..          ...  ...                 ...                     ...
195         196   35                 120                      79
196         197   45                 126                      28
197         198   32                 126                      74
198         199   32                 137                      18
199         200   30                 137                      83

[200 rows x 4 columns]

In [9]:
df1_drop.to_csv('clientes_shopping_sem_genero.csv', index=False)

___
## Exercício 3
___

In [12]:
df2 = pd.read_excel('../extracted_rar/Datasets/MateriaisConstrucao.xlsx')
df2

,ID,prego,martelo,luva,prumo,parafuso,chave de fenda,bucha,furadeira,broca,tinta,pincel,brocha
0,1,1,1,0,0,0,0,0,0,0,0,0,0
1,2,1,0,1,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,9,0,8,0,1,0,0,0
3,4,0,0,0,0,5,0,5,0,0,0,0,0
4,5,1,0,0,0,0,0,0,0,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,0,0,0,0,0,0,0,0,1,2,0,0
496,497,0,0,0,0,0,0,0,0,0,2,2,0
497,498,0,0,0,1,2,0,0,0,0,0,0,0
498,499,0,2,0,0,0,0,0,0,0,0,0,0
499,500,0,0,1,0,0,2,0,0,0,2,1,0

In [16]:
compras = df2.shape[0]
print(f'Quantidade de compras: {compras}')

Quantidade de compras: 500

In [20]:
produtos = df2.columns.unique()
print(f'{len(produtos)} produtos: {produtos}')

13 produtos: Index(['ID', 'prego', 'martelo', 'luva', 'prumo', 'parafuso', 'chave de fenda',
       'bucha', 'furadeira', 'broca', 'tinta', 'pincel', 'brocha'],
      dtype='object')

In [28]:
print(f'Média vendida de cada produto:\n{df2.drop(columns = 'ID').mean()}')

Média vendida de cada produto:
prego             0.520
martelo           0.292
luva              0.272
prumo             0.204
parafuso          1.710
chave de fenda    0.346
bucha             1.224
furadeira         0.238
broca             0.334
tinta             0.436
pincel            0.194
brocha            0.132
dtype: float64

In [62]:
df2_media = pd.DataFrame(df2.drop(columns = 'ID').mean())

new_df = df2_media.reset_index()

new_df.rename(columns = {'index': 'Produto', 0: 'Média'}, inplace = True)

new_df[new_df['Média'] == new_df['Média'].max()]

    Produto  Média
4  parafuso   1.71